{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<h1>Delete malicious users: </h1>
<form action="/admin" method="post">
    <div class="form-group">
        <input id='username' autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
    </div>
    <button id='submit' class="btn btn-primary" type="submit">Enter</button>
    </form>

    <br>
    <br>
    <br>

    <img src="{{ url_for('static', filename='dolphintricks.jpeg') }}" width="760" height="360"/>
    
    <h2>Taken last June at SeaWorld in San Diego.</h2>
{% endblock %}